
<aside>
    <article>
        <h1>Cookies</h1>
        <p>With your agreement, we use necessary cookies to enable the login functionality. We do not use any third party cookies. For more information about the cookies we use, visit our <a href="/cookie-policy">Cookie Policy</a> page.</p>

        <section>
            <form action="/accept-cookies" method="post">
                <button type="submit">Accept Cookies</button>
            </form>
    
            <button type="button">Edit Cookies</button>
        </section>
    </article>

    <article>
        <h1>Edit Cookies</h1>
        <p>Select cookies:</p>

        <form action="/accept-cookies" method="post">
            <input type="checkbox" checked disabled>
            <label>Strictly necessary cookies</label>
            <br />
            <br />
            <button type="submit">Save Preferences</button>
        </form>
 
    </article>
    
</aside>