
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>title</title>
		<meta name="description" content="">
		<meta name="author" content="Eliska Ryklova">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		{{#if logReg}}
			<link href="/login-register.css" type="text/css" rel="stylesheet" />	
		{{/if}}
		<script type="module" src="/main.js"></script>
	</head>	
	
    <body>