
<main>
	{{#if games}}
		{{#each}}
			<article>
				<figure>
					<img src="{{image}}" alt="Game box cover">
				</figure>
				<h1>{{name}}</h1>
				<h2>{{year}}</h2>
			</article>
		{{/each}}
	{{else}}
		<p>There are currently no games.</p>
	{{/if}}
</main>