
<main>
        <figure>
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </figure>
	<h1>Log In</h1>
	<form action="/login" method="post">
		<p>
			<label for="user">Username</label><br />
			<input type="text" name="username" placeholder="your username" value="{{body.user}}" autofocus>
		</p>
		<p>
			<label for="pass">Password</label><br />
			<input type="password" name="password" placeholder="your password" value="{{body.pass}}">
		</p>
		<p>
			<input type="submit" value="Log in">
			<a href="/register">Register</a>
		</p>
	</form>
	<p><a href="/">Back to the Home Page</a></p>
</main>

