
<main>
	<h1>Log In</h1>
	<form action="/login" method="post">
		<p>
			<label for="user">Username</label><br />
			<input type="text" name="username" placeholder="your username" value="{{body.user}}" autofocus>
		</p>
		<p>
			<label for="pass">Password</label><br />
			<input type="password" name="password" placeholder="your password" value="{{body.pass}}">
		</p>
		<p><input type="submit" value="Log in"></p>
	</form>
	<p><a href="/">Home page</a></p>
	<p><a href="/">Register</a></p>
</main>

