
	<main>
        <figure>
            <a href="/"><img src="/images/logo.png" alt="Logo"></a>
        </figure>
		<h1>Register</h1>
		<form action="/register" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="username" placeholder="your preferred username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="password" placeholder="your chosen password">
			</p>
			<p>
				<label for="pass2">Password (again)</label><br />
				<input type="password" name="password2" placeholder="your chosen password">
			</p>
			<p>
				<input type="submit" value="Create">
				<a href="/login">Login</a>
			</p>
		</form>
		<p><a href="/">Back to the Home Page</a></p>
	</main>
