
:root {
    /*--primary: #252425;
    --primary: #05a034;
    --secondary: #ffc400;*/
    --primary: #05a034;
    --secondary: #b300b9;
    --secondary-dark: #85008a;
    --background: #353030;
    --background-dark: #252425;
    --typeface: #f1eded;
    --typeface-dark: #d8d7d7;
}