
:root {
    /*--primary: #252425;
    --primary: #05a034;
    --secondary: #ffc400;*/
    --primary: #b300b9;
    --secondary: #05a034;
    --background: #353030;
    --background-dark: #252425;
    --typeface: #f1eded;
}