
/* general */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    background-color: var(--background);
    color: var(--typeface);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

h1 {
    margin: 20px 0;
}

a {
    color: var(--typeface);
    text-decoration: none;
}

main {
    clear: both;
    margin: auto;
    width: 80%;
} 

/* forms */

input:not(input[type="range"]), textarea {
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 5px 0;
    font-weight: bold;
    background-color: var(--typeface);
    color: var(--background);
}

input:not(input[type="range"]):focus, textarea:focus {
    outline: 3px solid var(--primary);
}

input[type="submit"] {
    outline: none !important;
    background-color: var(--secondary) !important;
    color: var(--typeface) !important;
    font-size: 17px;
    width: max-content;
}

input[type="submit"]:hover {
    background-color: var(--secondary);
    cursor: pointer;
}
/* navigation */

header {
    background-color: var(--background-dark);
    overflow: hidden;
}

nav {
    width: 80%;
    margin: auto;
}
nav figure img {
    width: 50px;
}
nav figure {
    margin: 0;
}
nav figure img:hover {
    cursor: pointer;
}
nav figure:first-of-type {
    padding: 10px 0;
    display: inline-block
}
nav figure:nth-of-type(2) { /* Menu */
    float: right;
}
nav figure:nth-of-type(3) { /* Close Menu */
    float: right;
    display: none;
}
nav ul {
    clear: both;
    display: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style-type: none;
    margin: 20px 0;
}
nav ul li a {
    transition: color 0.2s;
}
nav ul li a:hover {
    color: var(--primary);
}
