
/* navigation */

nav {
    width: 70%;
}
nav figure img {
}

nav figure:first-of-type {
    display: inline-block
}
nav figure:nth-of-type(2), nav figure:nth-of-type(3) { /* Menu */ /* Close Menu */
    display: none !important;
}
nav ul {
    display: inline-block !important;
    float: right;
}
nav ul li {
    display: inline-block;
    margin: 15px 0 15px 20px;
    margin-left: 20px;
}

