
/* general */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
    background-color: var(--background);
    color: var(--typeface);
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a {
    color: var(--typeface);
    text-decoration: none;
}

main {
    clear: both;
    margin: auto;
    width: 80%;
} 

/* forms */

input {
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px 0;
}

input:focus {
    outline: 3px solid var(--primary);
}

/* navigation */

header {
    background-color: var(--background-dark);
    overflow: hidden;
}

nav {
    width: 80%;
    margin: auto;
}
nav figure img {
    width: 50px;
}
nav figure {
    margin: 0;
}
nav figure img:hover {
    cursor: pointer;
}
nav figure:first-of-type {
    padding: 10px 0;
    display: inline-block
}
nav figure:nth-of-type(2) { /* Menu */
    float: right;
}
nav figure:nth-of-type(3) { /* Close Menu */
    float: right;
    display: none;
}
nav ul {
    clear: both;
    display: none;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 10px 0;
}
nav ul li a {
    transition: color 0.2s;
}
nav ul li a:hover {
    color: var(--primary);
}
